<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- <settings> <setting name="logImpl" value="LOG4J"/> </settings> -->

	<typeAliases>
		<typeAlias type="user.UserDTO" alias="UserDTO" />
		<typeAlias type="user.UserDiaryDTO" alias="UserDiaryDTO" />
		<typeAlias type="recipes.DiaryDTO" alias="DiaryDTO" />
		<typeAlias type="recipes.CommentDTO" alias="CommentDTO" />
		<typeAlias type="recipes.RecipesDTO" alias="RecipesDTO" />
		<typeAlias type="home.HomeDTO" alias="HomeDTO" />
		<typeAlias type="recipes.LikesDTO" alias="LikesDTO" />
		<typeAlias type="store.StoreDTO" alias="Storedto" />
	</typeAliases>



</configuration>
