@charset "UTF-8";

.slider {
	margin: 0 auto;

}

.slide_viewer {
	padding-top: 70px;
	height: 700px;
	overflow: hidden;
	position: relative;
}

.slide_group {
	height: 100%;
	position: relative;
	width: 100%;
}

.slide {
	display: none;
	height: 100%;
	position: absolute;
	width: 100%;
	overflow: hidden;
	/* 넘치는 콘텐츠를 감추기 위해 오버플로우를 숨김 처리 */
}

.slide:first-child {
	display: block;
}

.slide:nth-of-type(1) {

	background: #F4E4CD;
}
.slide:nth-of-type(1) img{
		background: #F4E4CD;
		width: 100%;
		height: auto;
}

.slide:nth-of-type(2) {
	background: #F4E4CD;
}
.slide:nth-of-type(2) img{
		width: 100%;
	object-fit: cover;
	position: absolute;
}

.slide:nth-of-type(3) {
	background: #C75534;
}
.slide:nth-of-type(3) img{
		width: 100%;
	object-fit: cover;
	position: absolute;
}

.slide:nth-of-type(4) {
	background: #D1D1D4;
}
.slide:nth-of-type(4) img{
		width: 100%;
	object-fit: cover;
	position: absolute;
}

.slide_buttons {
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

a.slide_btn {
	color: #474544;
	font-size: 42px;
	margin: 0 0.175em;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
	color: #428CC6;
	cursor: pointer;
}

.directional_nav {
	height: 360px;
	margin: 0 auto;
	max-width: 940px;
	position: relative;
	top: -340px;
}

.previous_btn {
	bottom: 0;
	left: -180px;
	margin: auto;
	position: absolute;
	top: 0;
}

.next_btn {
	bottom: 0;
	margin: auto;
	position: absolute;
	right: -180px;
	top: 0;
}

.previous_btn,
.next_btn {
	cursor: pointer;
	height: 400px;
	opacity: 0.5;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	width: 65px;
}

.previous_btn:hover,
.next_btn:hover {
	opacity: 1;
}

@media only screen and (max-width: 767px) {
	.previous_btn {
		left: 50px;
	}

	.next_btn {
		right: 50px;
	}
}