@charset "UTF-8";


.section2-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 300px;
	height: 200px;
	background-color: #FDEEDC;
	margin: 20px;
}

.box img {
	width: 140px;
	height: auto;
}