@charset "UTF-8";

body {
	background-color: #FDEEDC;
} 

h2 {
	padding-top: 130px;
	margin-bottom: 3vw;
	text-align: center;
	font-size: 26px;
}

.searchdiv {
	text-align: center;
}

#search {
	font-family: 'GangwonEdu_OTFBoldA';
	width: 360px;
	color: gray;
	border: none;
	outline: none;
	border-bottom: 1px solid #D8D8D8;
	font-size: 1.1vw;
	width: 360px;
}

#searchbutton {
	border: none;
}

.tag-container {
	margin-top: 1vw;
}

.tag-container input {
	font-family: 'GangwonEdu_OTFBoldA';
	margin: 1px;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: #FFB3A7;
	color: white;
}

.input-container {
	text-align: center;
}

.input-container input {
	padding: 10px;
	border: none;
	border-radius: 5px;
}

#contentContainer {
	display: flex;
	flex-wrap: wrap;
}

.content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-left: auto; /* 중앙 정렬을 위해 추가 */
	margin-right: auto; /* 중앙 정렬을 위해 추가 */
	padding: 0 10px 0 60px; /* 좌우 패딩을 추가하여 여백 조정 */
}

.diary-item {
	width: 30%; /* 4개씩 한 행에 배치 */
	margin: 12px;
	/* 추가 스타일링은 필요에 따라 설정하세요 */
}

.diary-item img {
	width: 100%; /* 원하는 너비로 설정 */
	height: 350px; /* 높이는 원본 비율을 유지 */
	max-width: 100%; /* 컨테이너 너비를 넘지 않도록 설정 */
}

.diary-item p { /* diary-item 내의 텍스트에 적용할 선택자를 적절히 변경할 수 있음 */
	display: -webkit-box; /* 이 값을 사용하려면 필요합니다 */
	-webkit-line-clamp: 2; /* 2줄로 제한 */
	-webkit-box-orient: vertical; /* 필수 값입니다 */
	overflow: hidden; /* 말줄임 처리를 위해 필요합니다 */
	text-overflow: ellipsis; /* 말줄임 처리를 위해 필요합니다 */
	color: black;
}

.mydiary-container {
	margin-top: 30px;
	padding: 17px;
	background-color: #e7dac9;
	border: 0 solid white;
	border-radius: 20px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.diary-buttons {
	display: flex;
}

.mydiary-container .diary-filter {
	margin-left: 75%;
	padding: 7px 22px 7px 22px;
	background-color: white;
	border: 1px solid white;
	border-radius: 20px;
	font-family: 'GangwonEdu_OTFBoldA';
}

.mydiary-container .mydiary-title {
	font-size: 1.4vw;
}

/*플로팅 버튼 수정X========*/
.floating-button {
	display: flex;
	position: fixed;
	left: 10px;
	bottom: 15px;
	z-index: 998;
}

/*플로팅 버튼 아이콘 공용 스타일 수정X========*/
.recipes-btn::before {
	width: 100%;
	height: 100%;
	opacity: 1;
}

.recipes-btn {
	color: white;
	font-size: 1.3em;
	text-decoration: none;
	border: none;
	background-color: #FFB3A7;
	font-family: 'GangwonEdu_OTFBoldA';
}

/*플로팅 버튼 스타일========*/
.move-recipes {
	float: left;
	display: flex;
	position: relative;
	width: 100px;
	height: 45px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
	/*사용자 설정 파트*/
	font-weight: 700;
	background-color: #FFB3A7;
	font-family: 'GangwonEdu_OTFBoldA';
	border-radius: 20px;
}

.write-dropdown {
	text-align: center;
	position: absolute;
	bottom: calc(100% +5px);
	left: 0;
	display: none;
	background-color: #FFB3A7;
	transform: translateY(-100%);
	width: 100px;
	height: 40px;
	overflow-y: auto;
	z-index: 999;
	margin-left: 5px;
	padding: 10px;
	margin-top: 34px;
	font-family: 'GangwonEdu_OTFBoldA';
	border-radius: 20px 20px 0px 0px;
}

.write-dropdown a {
	color: white;
	text-decoration: none;
}

.write-dropdown.active {
	display: block; /* 활성화 시 보이게 함 */
}