/* Reset default margin and padding */
/* Basic styling for header */
.header {
	margin: 0;
    background-color: #333;
    color: white;
    padding: 1rem;
    margin-bottom: 5vw;
}

.navbar {
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0 1rem;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

/* Styling for main content area */
.content {
    padding: 2rem;
}

/* Basic styling for footer */
.footer {
	margin: 0;
	margin-top: 20vw;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
