@charset "UTF-8";

body {

	background-color: #FDEEDC;
}

h2{
    padding-top: 130px;
}


/*플로팅 버튼 스타일========*/
.move-recipes {
	float: left;
	display: flex;
	position: relative;
	width: 100px;
	height: 45px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
	/*사용자 설정 파트*/
	font-weight: 700;
	background-color: #FFB3A7;
}

.write-dropdown {
	text-align: center;
	position: absolute;
	bottom: calc(100% +5px);
	left: 0;
	display: none;
	background-color: #FFB3A7;
	transform: translateY(-100%);
	width: 100px;
	height: 40px;
	overflow-y: auto;
	z-index: 999;
	margin-left: 5px;
}

.write-dropdown a {
	color: white;
	text-decoration: none;
}

.write-dropdown.active {
	display: block; /* 활성화 시 보이게 함 */
}