@charset "UTF-8";

@font-face {
	font-family: 'GangwonEdu_OTFBoldA';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'GangwonEdu_OTFBoldA';
}
header{
	padding-top: 10px;
}
body{
	 background-color:#FDEEDC; 
}
/*bootstrap*/
.nav-link {
	color: black;
}

.nav-pills {
	--bs-nav-pills-border-radius: var(--bs-border-radius);
	--bs-nav-pills-link-active-color: #fff;
	--bs-nav-pills-link-active-bg: #FFB3A7;
}

:root, [data-bs-theme=light] {
	--bs-link-hover-color: #FFB3A7;
}

.paddingleft5 {
	padding-left: 5vw;
}

.marginleft10 {
	margin-left: 10vw;
}

.paddingtop120 {
	padding-top: 120px;
}

input[class=emailwhite]::placeholder {
	color: white;
}

input[class=pwwhite]::placeholder {
	color: white;
}

input[class=emailwhite] {
	color: white;
}

input[class=pwwhite] {
	color: white;
}

.menu {
	font-size: 30px;
	height: 60px;
}

.login_background {
	min-height: calc(100vh - 60px);
	background-image: url("/img/user/market.png");
	background-size: cover;
	display: center;
	position: relative;
}

.login_buttons {
	max-width: 30vw;
	text-align: center;
	/* 수직 중앙 정렬하기 */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login_email {
	border-width: 3px;
	border-radius: 10px;
	border: 2px solid white;
	width: 222px;
	height: 55px;
	background-color: transparent; /*배경 투명*/
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin-top: 3vh;
	font-size: 20px;
}

.login_title {
	color: #FFB3A7;
	font-size: 25px;
	margin: 0 auto;
}
.title {
	font-size: 25px;
	margin: 0 auto;
}
.p_relative{
	position: relative;
}
.height70{
	min-height: 70vh;
}

.signin_title {
	font-size: 25px;
	text-align: center;
}

.menu_title  {
	font-size: 25px;
}

.login_title_email {
	color: white;
	font-size: 25px;
	margin: 1vh auto 2vh;
}

.login_subtitle {
	color: white;
	font-size: 20px;
	text-align: center;
}

.signin {
	font-size: 20px;
	color: white;
	margin-top: 3vh;
}

.signin_a {
	font-size: 20px;
	color: #FFB3A7;
	margin-top: 3vh;
}

#signinForm, .center {
	/* 수직 중앙 정렬하기 */
	display: grid;
	justify-content: center;
	align-content: center;
}

#input, .input {
	width: 30vw;
	height: 8vh;
	border-radius: 10px;
	border: 1px solid #FFB3A7;
	font-size: 20px;
	padding-left: 3%;
	margin: 0 auto 2vh;
}

#loginemail, #loginpw {
	width: 30vw;
	height: 8vh;
	border-radius: 10px;
	border: 1px solid #FFB3A7;
	font-size: 20px;
	padding-left: 3%;
	margin: 0 auto 2vh;
	background-color: transparent;
}

.loginInput input::placeholder {
	color: white;
}
.position_inherit{
	position: inherit;
}
/*header top 0px*/
header{
	top: 0px;
}
.signinbtn, .nick_check, .email_check, .secretkey_check, .editbtn,
	.deletebtn {
	width: 8vw;
	height: 5vh;
	border-radius: 10px;
	border: 1px solid #FFB3A7;
	background-color: #FFB3A7;
	color: white;
	justify-self: end;
	margin-right: -1vw;
}
.nick_check_r, .editbtn_r, .deletebtn_r{
	width: 8vw;
	height: 5vh;
	border-radius: 10px;
	border: 1px solid #FFB3A7;
	background-color: #FFB3A7;
	color: white;
	float: right; 
}

.loginbtn, .findIdbtn, .findPwbtn {
	width: 31vw;
	height: 8vh;
	border-radius: 10px;
	font-size: 20px;
	border: 2px solid #FFB3A7;
	background-color: #FFB3A7;
	color: white;
	margin-top: 2vh;
	margin-bottom: 6vh;
}

.emailbtn, .pwbtn {
	background-color: transparent;
	border: none;
	width: 31vw;
	display: contents;
	color: white;
	font-size: 20px;
}

.font20 {
	font-size: 20px;
}

.font40 {
	font-size: 40px;
}

.bottom0 {
	margin-bottom: 0;
}

.bottom10 {
	margin-bottom: 10vh;
}

.top1vh {
	margin-top: 1vh;
}

.pointcolor {
	color: orange;
}

.font15 {
	font-size: 15px;
}

.float_left {
	float: left;
}

.marginleft12 {
	margin-left: 12%;
}
.pw_eyes {
  position: relative;
}

.eyes {
  position: absolute;
  top: 0;
  bottom: 15px;
  right: 10px;
  margin: auto 2px;
  height: 30px;
  width: 30px;
  font-size: 25px;
  cursor: pointer;
}
.width60{
	width: 60vw;
}

/*마이페이지-식단일기*/
.card-body {
    flex: 3 3 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}
.card-text{
	height: 20vh;
    /*width: 15vw; */
    display: -webkit-box;
    -webkit-line-clamp: 2; /*영역 내의 컨텐츠의 최대 라인수*/
    -webkit-box-orient: vertical; /*영역 박스의 내의 정렬을 수직*/
    text-overflow: ellipsis;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
	border: 1px solid #FFB3A7;
	background-color: #FDEEDC!important;
}
.justify-content-end {
    justify-content: end!important;
}
/*마이페이지 박스*/
.py-5 {
    padding: 3rem!important;
}